body {
    background-image: url('../image/aboutus.jpg');
}

.logo-1 {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    width: 395px;
    height: 123px;
    margin-bottom: 0px;
}

.label1 {
    color: white;
    width: 742px;
    height: 179px;
    font-family: Apple Chancery, cursive;
    font-size: 22px;
    text-align: justify;
    margin-top: 250px;
    margin-left: 85px;
}

.read-more {
    background-color: sandybrown;
    border-radius: 10px;
    color: #ffffff;
    font: 'Inter', sans-serif;
    position: relative;
    width: 199px;
    margin-left: 0px;
    height: 52px;
    font-size: 25px;
    cursor: pointer;
}
