body {
    background-color: black;
    position: relative;
}

.logo-1 {
    display: block;
    margin-top: 180px;
    margin-left: 520px;
    width: 256px;
    height: 102px;
}

.contactus {
    color: white;
    font-family: 'Lucida Calligraphy';
    font-size: 30px;
}

.details1 {
    color: white;
    float: left;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 20px;
    margin-left: 100px;
    position: relative;
}

.content {
    float: left;
    color: #ffffff;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 25px;
    position: relative;
    margin-left: 150px;
    width: 490px;
    height: 200px;
}

.openinghours {
    color: white;
    font-family: 'Lucida Calligraphy';
    font-size: 30px;
}

.details2 {
    color: white;
    float: left;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 20px;
    margin-left: 150px;
    position: relative;
}

.back {
    background: rgba(255, 133, 27, 0.60);
    border-color: rgba(255, 133, 27, 0.60);
    border-radius: 10px;
    color: white;
    float: left;
    font: 'Inter', sans-serif;
    position: relative;
    width: 100px;
    height: 52px;
    margin-left: 200px;
    font-size: 25px;
    cursor: pointer;
}
