body {
    background-color: black;
    color: white;
}

h1 {
    color: blue;
}

p {
    color: white;
}

.container {
    display: table-footer-group;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
}

.Label4 {
    margin-left: 91px;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    font-family: Josefin Slab;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Label5 {
    margin-top: 7px;
    margin-left: initial;
    font-size: 20px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
}

.Label6 {
    margin-bottom: 800px;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    margin-left: 52px;
}

.img {
    width: 200px;
    height: 170px;
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.Button1 {
    margin-left: 400px;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Label9 {
    margin-bottom: 100px;
    margin-left: 32px;
    font-family: Josefin Slab;
    font-size: 30px;
}

.Label7 {
    margin-top: 7px;
    margin-left: 200px;
    font-family: 'Brush Script Std';
    font-size: 25px;
}

.Label8 {
    font-family: 'Brush Script Std';
    font-size: 25px;
}

.auto-style6 {
    width: 178px;
    height: 139px;
    margin-left: 105px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
