.rectangle {
    float: left;
    background: rgba(30, 30, 30, 0.49);
    width: 1080px;
    height: 199px;
    position: absolute;
}

.label {
    color: black;
    font: 50px 'Vesper Libre', sans-serif;
    position: relative;
    width: 504px;
    height: 79px;
    margin-left: 80px;
}

.GridView1 {
    width: 600px;
    height: 173px;
    display: inline-grid;
    margin: 100px;
    margin-left: 300px;
    margin-top: 400px;
    margin-bottom: 2000px;
    top: 2000%;
    left: 800%;
    transform: translate(-50%, -50%);
}

.LogOut {
    text-align: left;
    font-size: 20px;
    margin-left: 12px;
    font-weight: bold;
}
