body {
    background-image: url('../Image/Master.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    vertical-align: top;
}

.logo {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    width: 256px;
    height: 102px;
    position: relative;
}

.menu {
    float: right;
    margin-top: 50px;
    width: 500px;
    height: 50px;
    font-size: 25px;
    position: relative;
    background: rgba(0, 0, 0, 0.74);
    border-radius: 10px;
}

.label1 {
    color: ghostwhite;
    text-align: left;
    position: relative;
    width: 1200px;
    height: 95px;
    font-size: 70px;
    font-family: 'Lucida Calligraphy';
    margin-top: 250px;
    margin-left: 40px;
}

.label2 {
    color: ghostwhite;
    text-align: left;
    position: relative;
    width: 1200px;
    height: 60px;
    font-size: 50px;
    font-family: 'Times New Roman';
    margin-left: 40px;
}

.bn632-hover {
    width: 155px;
    height: 60px;
    font-size: 25px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    margin-left: 50px;
    transition: all .4s ease-in-out;
}
    .bn632-hover:hover {
        background-position: 100% 0;
        transition: all .4s ease-in-out;
    }
    .bn632-hover:focus {
        outline: none;
    }
    .bn632-hover.bn19 {
        background-image: linear-gradient( to right, #f5ce62, #e43603, #fa7199, #e85a19 );
        box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    }