.rectangle {
    float: left;
    background: rgba(30, 30, 30, 0.49);
    width: 1080px;
    height: 199px;
    position: absolute;
}

.label {
    color: black;
    font: 50px 'Vesper Libre', sans-serif;
    position: relative;
    width: 504px;
    height: 79px;
    margin-left: 80px;
}