#content {
    margin-top: 100px;
    height: auto;
    width: auto;
}

body {
    background-image: url('../Image/Master.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    vertical-align: top;
}

.logo {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 200px;
    width: 256px;
    height: 102px;
    position: relative;
}

.imgBtn {
    float: left;
    height: 70px;
    width: 70px;
    margin-top: 40px;
    animation: imgBtnbounce 2s infinite;
}

@keyframes imgBtnbounce {
    5%, 50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}

.textBox {
    color: white;
    float: left;
    margin-top: 50px;
    margin-right: 15px;
    width: 250px;
    height: 45px;
    font-size: 20px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.22);
    background: rgba(0, 0, 0, 0.74);
    border-radius: 10px;
}

::placeholder {
    color: white;
}

.menu {
    float: left;
    margin-top: 50px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.22);
    background: rgba(0, 0, 0, 0.74);
    border-radius: 10px;
}

.logout {
    color: white;
    float: left;
    margin-top: 50px;
    margin-left: 15px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman';
    position: relative;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.22);
    background: rgba(0, 0, 0, 0.74);
    border-radius: 10px;
}

.home {
    float: left;
    width: 42px;
    height: 43px;
    margin-top: 53px;
}