.rectangle {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.74);
    margin-left: 550px;
    width: 457px;
    height: 500px;
    position: relative;
    border-color: rgba(0, 0, 0, 0.22);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.TextBox {
    background: rgba(128, 128, 131, 0.80);
    box-sizing: border-box;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(128, 128, 131, 0.80);
    border-width: 1px;
    color: black;
    margin-left: 45px;
    width: 376px;
    height: 41px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

::placeholder {
    color: black;
}

.districtlist {
    color: black;
    background: rgba(128, 128, 131, 0.80);
    box-sizing: border-box;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(128, 128, 131, 0.80);
    border-width: 1px;
    margin-left: 45px;
    width: 376px;
    height: 41px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btnSubmit {
    color: white;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 180px;
    margin-left: 50px;
    border-color: Green;
    background: Green;
    font-family: Lucida Calligraphy;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.btnClear {
    color: black;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 170px;
    margin-left: 10px;
    border-color: white;
    background: white;
    font-family: Lucida Calligraphy;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.btnDelete {
    color: white;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 370px;
    margin-left: 50px;
    border-color: Red;
    background: Red;
    font-family: Lucida Calligraphy;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.7px;
}
